@model Enrollment_FrontEnd.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="container row-cols-md-3  d-flex justify-content-center align-items-center ">


    <form asp-action="Login" class="LoginForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <center><h1>Login</h1></center>

        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group row-cols-md-1 ">
            <input type="submit" value="Login" class="btn btn-primary loginBtn" />
        </div>
    </form>

</div> <!------------>


<!--Image-->
<div class="Home-Big-Img">
    <img src="~/Pictures/Student_Smilling.jpg" height="733" />
</div>