

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-big-text">
    <h1>Welcome</h1>
    <h4>Amber Academy </h4>
    <h4>Enrollment 2023</h4>
    
</div>






<div class="HomeNavBtns">

    @*<div class="">
        <a class="btn btn-success" href="/AddStudent/Create" role="button">Student Register</a>
    </div>*@

    <div class="">
        <a class="btn btn-success" href="Home/MenuDisplay" role="button">Todays Menu</a>
    </div>

    <div class="">
        <a class="btn btn-success" href="/OrderMeal/Create" role="button">Order Meal</a>
    </div>

    <div class="">
        <a class="btn btn-primary" href="/Login" role="button"> Member Of Staff</a>
    </div>
</div>



<div class="Home-Big-Img">
    <img src="~/Pictures/Student_Smilling.jpg" height="733" />

</div>



